{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h1>
    {% if object.pk %}
    {{object.serial_number|upper}}
    {% else %}
    Incoming Form
    {% endif %}
</h1>
<hr>
<div class="col-lg-6 text-bg-light p-3 rounded-4 shadow ">

    <form action=""
        method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <span class="col-lg-6">
                {{ form.conf|as_crispy_field }}
            </span>
            <span class="col-lg-6">
                {{ form.urgent|as_crispy_field }}
            </span>
        </div>
        <div class="row">
            <span class="col-lg-6">
                {{ form.received|as_crispy_field }}
            </span>
            <span class="col-lg-6">
                {{ form.r_from|as_crispy_field }}
            </span>
        </div>

        <div class="row">
            <span class="col">
                {{ form.sender|as_crispy_field }}
            </span>
        </div>
        <div class="row">
            <span class="col-lg-6">
                {{ form.dated|as_crispy_field }}
            </span>
            <span class="col-lg-6">
                {{ form.subject|as_crispy_field }}
            </span>
        </div>
        <div class="row">
            <span class="col-lg-6">
                {{ form.phone|as_crispy_field }}
            </span>
            <span class="col-lg-6">
                {{ form.phone1|as_crispy_field }}
            </span>
        </div>
        <div class="row">
            <span class="col">
                {{ form.file|as_crispy_field }}
            </span>
        </div>
        <div class="row">
            <span class="col">
                {{ form.note|as_crispy_field }}
            </span>
        </div>
        <br>
        <div class="d-grid">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock content %}